extends layout

block content
  section.hero
    h2 Bienvenue sur mon portfolio
    p Développeur web passionné par la création d'applications performantes et esthétiques
    a.btn.btn-primary(href="/contact-me") Me contacter

  section.featured-projects
    h3 Projets en vedette
    .projects-grid
      each project in featuredProjects
        .project-card
          img.project-img(src=project.image, alt=project.title)
          h4= project.title
          p= project.description
          a.btn.btn-secondary(href=project.link) Voir le projet

block scripts
  script(src="/assets/js/home.js")
